@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;900&family=Raleway:wght@300&family=Ubuntu:ital,wght@0,400;1,300&display=swap');

.body {
    background-color: rgb(27, 27, 27);
    font-family: 'Ubuntu', sans-serif;
    color: white;
}

.nav-left {
    padding-left: 180px;
    padding-top: 2px;
}

.nav-right{
    display: flex;
    padding-right: 180px;
    align-items: center;
    flex-direction: row;
    position: fixed;
    top: 20px;
    right: 20px;
}

.item-nav {
    padding: 10px;
    color: white;
}

.pic {
    height: 140px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 680px;
    padding-top: 100px;
}

.ln {
    padding-left: 700px;
    padding-top: 30px;
}

.links {
    padding: 10px;
    height: 30px;
}

.contact {
    padding-left: 660px;
}